<p class="lead">
    This tool is uses my Alexa Voice service. In future, please create your own by visiting <code><a href="https://developer.amazon.com/home.html">https://developer.amazon.com/home.html</a></code>.
    It is optional though, but highly recommended. Otherwise you will be using my Alexa in America 😉
</p>

<hr>

<form>
    <button class="btn btn-primary btn-lg" role="button" type="submit" (click)="login()" disabled>Use my Alexa Voice Service <small>(easy)</small></button>
    <small>Currently this is does not work</small>
</form>

<hr>

<h4>Use your own Alexa Voice Service</h4>

<p class="lead">
    <strong class="text-uppercase">Important:</strong> If you are going to make your own <code>Alexa Voice Service</code>;
    please set the <code>Allowed Origins</code> and <code>Allowed Return URLs</code> to the following for this tool to work:
</p>

<p><code>Allowed Origins:</code> https://magic-mirror-avs.github.io/Alexa-Web-Helper/</p>
<p><code>Allowed Return URLs:</code> https://magic-mirror-avs.github.io/Alexa-Web-Helper/authresponse</p>

<form (ngSubmit)="submitForm(formGroup.value)" >
    <div class="form-group" [ngClass]="{'has-danger': !formGroup.get('clientId').valid && formGroup.get('clientId').dirty}">
        <label for="clientId">Client ID</label>
        <input [formControl]="formGroup.get('clientId')" type="text" class="form-control" id="clientId" aria-describedby="clientIdHelp" placeholder="Enter AVS Client ID" autocomplete="off">
        <small id="clientIdHelp" class="form-text text-muted">This is not stored and is only sent to Amazon's secure servers</small>
    </div>

    <div class="form-group" [ngClass]="{'has-danger': !formGroup.get('clientSecret').valid && formGroup.get('clientSecret').dirty}">
        <label for="clientSecret">Client Secret</label>
        <input [formControl]="formGroup.get('clientSecret')" type="text" class="form-control" id="clientSecret" aria-describedby="clientSecretHelp" placeholder="Enter AVS Client Secret" autocomplete="off">
        <small id="clientSecretHelp" class="form-text text-muted">This is not stored and is only sent to Amazon's secure servers</small>
    </div>

    <div class="form-group" [ngClass]="{'has-danger': !formGroup.get('deviceId').valid && formGroup.get('deviceId').dirty}">
        <label for="deviceId">Device Id</label>
        <input [formControl]="formGroup.get('deviceId')" type="text" class="form-control" id="deviceId" aria-describedby="deviceIdHelp" placeholder="Enter AVS Device Id" autocomplete="off">
        <small id="deviceIdHelp" class="form-text text-muted">This is not stored and is only sent to Amazon's secure servers</small>
    </div>

    <button class="btn btn-primary btn-lg" role="button" type="submit">Click here to start</button>
</form>