<div class="container">
    <div class="jumbotron">
        <h1 class="display-3">Config generator</h1>
        <p class="lead">This is used to generate the configuration for the MMM-awesome-alexa module.</p>
        <hr class="my-4">
        <p>It uses Amazons OAuth, so you will be momentarily redirected to Amazon's secure login servers.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button" (click)="login()">Click here to start</a>
        </p>
    </div>

    <router-outlet></router-outlet>
</div>