<div class="form-group">
    <label for="exampleSelect1">Wake Word</label>
    <select class="form-control" id="wakeWord" [(ngModel)]="config.config.wakeWord" aria-describedby="wakeWordHelp">
      <option selected>Alexa</option>
      <option disabled>Jarvis (coming soon)</option>
      <option>Smart Mirror</option>
      <option disabled>Computer (coming soon)</option>
    </select>
    <small id="wakeWordHelp" class="form-text text-muted">This is the word you say when you want <code>Alexa</code> to start.</small>
</div>

<hr>

<h2>Your Config</h2>

<p class="lead">
    Paste this in the <code>modules</code> section of your <code>config/config.js</code> file.
</p>

<pre>{{config | json}}</pre>

<p class="lead" *ngIf="config.config.clientId === undefined">
    You have generated a config using my Alexa Voice service. In future, please create your own by visiting <a href="https://developer.amazon.com/home.html">https://developer.amazon.com/home.html</a>.
    Then run this tool again.
</p>